@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
div.ThreeOhThree {
  position: fixed;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
div.ThePreviews {
  position: relative;
  height: 100%;
  width: 100%;
}
@media (min-width: 1301px) {
  div#ThreeOhPreviewCopy {
    margin-left: 2em;
  }
}
@media (min-width: 1301px) {
  div#ThreeOhPreviewMobileCopy {
    margin-left: 2em;
  }
}
div.ThreeOhThreeContent {
  position: relative;
  height: 100%;
  width: 100%;
  top: -100%;
  opacity: 0;
}
@media (max-width: 1020px) {
    div.ThreeOhThreeContent {
      display: flex;
      flex-direction: column;
    }
}
@media (max-width: 1020px) {
  div.ThreeOhThreeContent > div.projectTitle {
    position: absolute;
    width: 80vw;
    height: 16vh;
    top: -6vw;
  }
}
@media (min-width: 1021px) and (max-width: 1199px) {
  div.ThreeOhThreeContent > div.projectTitle {
  position: absolute;
  width: 90vw;
  height: 16vw;
  top: -10.2vw;
  zoom: .8;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  div.ThreeOhThreeContent > div.projectTitle {
    position: absolute;
    width: 80vw;
    height: 16vh;
    top: -13vw;
  }
}
@media (min-width: 1301px) {
  div.ThreeOhThreeContent > div.projectTitle {
    position: absolute;
    width: 80vw;
    height: 16vh;
    top: -6vh;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  div.ThreeOhThreeContent > div.projectTitle > p.theTitle {
    font-family: 'Khand', sans-serif;
    font-weight: 600;
    color: #061A1E;
    font-size: 3.2em;
    text-align: left;
    margin-left: 9vw;
    margin-top: -4vh;
  }
}
@media (min-width: 1301px) {
  div.ThreeOhThreeContent > div.projectTitle > p.theTitle {
    font-family: 'Khand', sans-serif;
    font-weight: 600;
    color: #061A1E;
    font-size: 3.2em;
    text-align: left;
    margin-left: 7.4vw;
    margin-top: -3vh;
  }
}
@media (max-width: 1020px) {
    p.theTitle {
      padding-top: 1vw;
      zoom: .8;
    }
}
@media (min-width: 1301px) {
  div.ThreeOhThreeContent > div.projectTitle > p.projectContributor {
    font-family: 'Oswald', sans-serif;
    color: #061A1E;
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    margin-top: 1em;
    margin-left: 7.6vw;
  }
}
@media (max-width: 1300px) {
  div.ThreeOhThreeContent > div.projectTitle > p.projectContributor {
    font-family: 'Oswald', sans-serif;
    color: #061A1E;
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    margin-top: 6vh;
    margin-left: 9.2vw;
  }
}
@media (min-width: 1301px) {
 div.ThreeOhThreeContent > div.About {
  position: relative;
  width: 30%;
  height: 30%;
  top: 13vw;
  left: 8.2vw;
  zoom: 1.2;
 }
}
@media (min-width: 1021px) and (max-width: 1300px) {
 div.ThreeOhThreeContent > div.About {
  position: relative;
  width: 32%;
  height: 30%;
  top: 10.5vw;
  left: 9vw;
 }
}
@media (max-width: 1020px) {
    p.projectContributor{
      padding-top: 6vw;
      zoom: .8;
    }
}
div.ThreeOhThreeMedia {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
div.ThreeOhThreeMedia > img{
  width: 30em;
  opacity: 1;
}
@media (max-width: 1020px) {
    div.About{
      top: 82vw;
      width: 90%;
      position: relative;
      margin: 0 auto;
      left: 0%;
      zoom: .8;
    }
}
div.ThreeOhThreeContent > div.About > h4 {
  font-family: 'Khand', sans-serif;
  font-weight: 800;
  margin-top: 2em;
  margin-bottom: 0;
  color: #061A1E;
  font-size: 2.3em;
}
div.ThreeOhThreeContent > div.About > p {
  margin-top: 1vh;
  font-family: 'Oswald', sans-serif;
  color: #061A1E;
  font-size: 1.3em;
}
div.Layout {
  width: 86%;
  position: relative;
  height: 102vw;
  top: 40%;
  margin-left: 9%;
}
@media (min-width: 1301px) {
    div.Layout{
      top: 36vw;
      width: 96%;
      position: relative;
      margin: 0 auto;
    }
}
@media (max-width: 1020px) {
    div.Layout{
      top: 80vw;
      width: 96%;
      position: relative;
      margin: 0 auto;
      zoom: 1;
    }
}
div.Layout > p {
  color: #061A1E;
}
@media (max-width: 1020px) {
    div.Layout > p {
      margin-left: 3%;
      top: 1vw;
    }
}
@media (max-width: 1300px) {
  div.Layout > p.wireFrameText {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    text-align: left;
    position: absolute;
    top: -9vw;
    left: 6.5vw;
  }
}
@media (min-width: 1301px) {
  div.Layout > p.wireFrameText {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    text-align: left;
    position: absolute;
    top: -9vw;
    left: 14vw;
    zoom: 1.2;
  }
}
div.Layout > p.secondaryWFText {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  position: absolute;
  top: -5vw;
  text-align: left;
  left: 6.5vw;
}
@media (max-width: 1300px) {
  p.intuitiveText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    position: absolute;
    top: -3.1vw;
    text-align: left;
    left: 6.6vw;
  }
}
@media (min-width: 1301px) {
  p.intuitiveText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    position: absolute;
    top: -4.5vw;
    text-align: left;
    left: 14.2vw;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  p.responsiveText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    position: absolute;
    top: 3.4vw;
    left: 62.6vw;
  }
}
@media (min-width: 1301px) {
  p.responsiveText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    position: absolute;
    top: 3vw;
    left: 54vw;
    zoom: 1.2;
  }
}
@media (max-width: 1020px) {
    div.Layout > p:nth-child(3) {
      margin-left: 7%;
      top: 5vw;
    }
}
@media (max-width: 1300px) {
  div.desktopWireframes {
    width: 66%;
    position: absolute;
    height: 110vw;
    left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (min-width: 1301px) {
  div.desktopWireframes {
    width: 66%;
    position: absolute;
    height: 110vw;
    left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    zoom: .75;
    top: -5vw;
  }
}
@media (max-width: 1020px) {
    div.desktopWireframes {
      margin-top: 6%;
    }
}

div.desktopWireframes > div {
    position: relative;
    width: 51vw;
    height: 30vw;
    margin: 0 auto;
    margin-top: 6%;
    border: solid  1px #2C4849;
}
div.desktopWireframes > div > img {
  position: relative;
  height: 100%;
  width: 100%;
}
@media (max-width: 1300px) {
  div.mobileWireframes {
    width: 32%;
    top: 12vh;
    position: absolute;
    height: 110vw;
    left: 71%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (min-width: 1301px) {
  div.mobileWireframes {
    width: 32%;
    top: 12vh;
    position: absolute;
    height: 110vw;
    left: 84vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    zoom: .75;
  }
}
div.mobileWireframes > div {
  position: relative;
  width: 16vw;
  height: 31vw;
  margin-left: 5%;
  margin-top: 11%;
  border: solid  1px #2C4849;
}
div.mobileWireframes > div > img {
  position: relative;
  height: 100%;
  width: 100%;
}
div.Text {
  width: 90%;
  position: relative;
  height: 39vw;
  top: 20vw;
  margin-left: 7%;
}
@media (max-width: 1020px) {
    div.Text{
      top: 192vw;
      width: 100%;
      position: relative;
      margin-left: 10%;
      margin-right: auto;
    }
}
@media (min-width: 1021px) and (max-width: 1080px) {
    div.Text{
      top: 34vw;
      width: 90%;
      position: relative;
      margin-left: 11%;
      margin-right: auto;
    }
}
div.Text > p {
  color: #061A1E;
}
@media (max-width: 1080px) {
    div.Text > p {
      margin-top: -1vw;
      margin-left: 0vw;
    }
}
@media (max-width: 1300px) {
  div.Text > p.typefaceText {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    text-align: left;
    position: absolute;
    top: 2.4vw;
    left: 8vw;
  }
}
@media (min-width: 1301px) {
  div.Text > p.typefaceText {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    text-align: left;
    position: absolute;
    top: -2vw;
    left: 12vw;
    zoom: 1.2;
  }
}
div.Text > p.fontsText, div.Text > p.copyText {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  position: absolute;
}
@media (max-width: 1300px) {
  div.Text > p.fontsText {
    top: 8.2vw;
    text-align: left;
    left: 8.2vw;
  }
}
@media (min-width: 1301px) {
  div.Text > p.fontsText {
    top: 2.7vw;
    text-align: left;
    left: 12vw;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  div.Text > p.copyText {
    top: 8.2vw;
    text-align: right;
    left: 40.6vw;
  }
}
@media (min-width: 1301px) {
  div.Text > p.copyText {
    top: 7vw;
    text-align: right;
    left: 38vw;
    zoom: 1.2;
  }
}
div.Copy {
  position: absolute;
  width: 45%;
  left: -1vw;
  top: 8.2vw;
  height: 40vw;
}
@media (max-width: 1300px) {
  div.Copy > img:nth-child(1) {
    position: relative;
    height: 35%;
    width: 54%;
    top: 5.5vw;
    border: solid  1px #2C4849;
  }
}
@media (min-width: 1301px) {
  div.Copy > img:nth-child(1) {
    position: relative;
    height: 17vw;
    width: 26vw;
    top: 1vw;
    border: solid  1px #2C4849;
    zoom: .8;
    left: 7vw;
  }
}
@media (max-width: 1300px) {
  div.Copy > img:nth-child(2) {
    position: relative;
    height: 35%;
    width: 54%;
    margin-top: 3%;
    top: 5.5vw;
    border: solid  1px #2C4849;
  }
}
@media (min-width: 1301px) {
  div.Copy > img:nth-child(2) {
    position: relative;
    height: 18vw;
    width: 27vw;
    margin-top: 3%;
    top: 2vw;
    border: solid  1px #2C4849;
    zoom: .8;
    left: 7.4vw;
  }
}
div.Font {
  position: absolute;
  width: 55%;
  left: 45%;
  top: 8.2vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1300px) {
  div.Font > img {
    position: relative;
  }
}
@media (min-width: 1301px) {
  div.Font > img {
    position: relative;
    left: 4vw;
    zoom: .85;
  }
}
img.ThreeHost {
  left: -2vw;
  top: 5.6vw;
  height: 7.45vw;
  width: 24vw;
}
img.ThreeCompete {
  left: -2.2vw;
  top: 4.5vw;
  height: 7vw;
  width: 33vw;
}
img.ThreeStream {
  left: -2.1vw;
  top: 3.5vw;
  height: 7vw;
  width: 30vw;
}
img.ThreeBuild {
  left: -1.9vw;
  top: 2.7vw;
  height: 7vw;
  width: 24.5vw;
}
div.Colors {
  position: relative;
  left: 5%;
  width: 90%;
  height: 27vw;
  top: 34vw;
}
@media (max-width: 1020px){
    div.Colors{
      top: 255vw;
      width: 86%;
      position: relative;
      margin-left: 2%;
    }
}
@media (min-width: 1021px) and (max-width: 1080px) {
    div.Colors{
      top: 58vw;
      width: 80%;
      position: relative;
      margin-left: 4%;
    }
}
div.Colors > p {
  color: #061A1E;
  position: absolute;
}
@media (max-width: 1300px) {
  p.colorScheme {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    top: -10vw;
    left: 10.5vw;
  }
}
@media (min-width: 1301px) {
  p.colorScheme {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    top: -8vw;
    left: 14vw;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  p.colorText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: -5.5vw;
    left: 39.6vw;
  }
}
@media (min-width: 1301px) {
  p.colorText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: -6.5vw;
    left: 35vw;
    zoom: 1.2;
  }
}
@media (max-width: 1080px){
    div.Colors > p:nth-child(1){
      margin-top: -4vw;
      margin-left: 0vw;
    }
}
@media (max-width: 1080px){
    div.Colors > p:nth-child(2){
      margin-top: -1vw;
      margin-left: -29vw;
    }
}
@media (max-width: 1300px) {
  img.official {
    position: relative;
    width: 11vw;
    height: 12.5vw;
    left: 3%;
    top: -6.5vw;
  }
}
@media (min-width: 1301px) {
  img.official {
    position: relative;
    width: 11vw;
    height: 12.5vw;
    left: 6%;
    top: -8.5vw;
    zoom: .9;
  }
}
@media (max-width: 1300px) {
  img.ThreePalette {
    position: relative;
    width: 54%;
    height: 24vw;
    left: 15%;
    border: solid  1px #2C4849;
  }
}
@media (min-width: 1301px) {
  img.ThreePalette {
    position: relative;
    width: 50vw;
    height: 24vw;
    top: -3vw;
    left: 16vw;
    border: solid  1px #2C4849;
    zoom: .85;
  }
}
div.Assets {
  position: relative;
  width: 90%;
  height: 67.5vw;
  left: 7%;
  z-index: -2;
  top: 45vw;
}
@media (max-width: 1020px) {
    div.Assets{
      top: 276vw;
      width: 94%;
      position: relative;
      margin-left: 0%;
      height: 200%;
    }
}
@media (min-width: 1021px) and (max-width: 1080px) {
    div.Assets{
      top: 76vw;
      width: 84%;
      position: relative;
      margin-left: 3%;
    }
}
div.Assets > p {
  color: #061A1E;
  position: absolute;
}
@media (max-width: 1080px) {
    div.Assets > p:nth-child(1){
      margin-left: 0vw;
      margin-top: -2vw;
    }
}
@media (max-width: 1080px) {
    div.Assets > p:nth-child(2), div.Assets > p:nth-child(3){
      margin-left: -2vw;
      margin-top: -1vw;
    }
}
@media (max-width: 1300px) {
  p.theAssets {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    top: -12.7vw;
    left: 9vw;
  }
}
@media (min-width: 1301px) {
  p.theAssets {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    top: -10vw;
    left: 13vw;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  p.stillAssets {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: -6vw;
    left: 15vw;
  }
}
@media (min-width: 1301px) {
  p.stillAssets {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: -5.4vw;
    left: 13vw;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  p.animatedAssets {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: -6vw;
    left: 47vw;
  }
}
@media (min-width: 1301px) {
  p.animatedAssets {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: -5.4vw;
    left: 39vw;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  div.shards {
    width: 70%;
    margin: 0 auto;
    height: 70%;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1301px) {
  div.shards {
    width: 70%;
    margin: 0 auto;
    margin-left: 18vw;
    height: 70%;
    display: flex;
    flex-direction: row;
    zoom: .8;
  }
}
div.shards > div {
  height: 96%;
  width: 42%;
  justify-content: space-around;
  background-color: #061A1E;
  margin-left: 1.3vw;
  margin-right: 1vw;
}
div.shards > div.shardsStill > img {
  position: relative;
  height: 100%;
  width: 100%;
}
div.shardsScroll {
  background-image: url("ThreeBGAnimation.png");
  position: relative;
  height: 176%;
  width: 40%;
  left: 3.3vw;
  background-size: 48.2%;
  background-repeat: repeat-y;
  animation: floatUp 20s infinite linear;
  overflow: hidden;
}
@keyframes floatUp {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
@media (max-width: 1300px) {
  p.footerAsset {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: 48vw;
    left: 14vw;
  }
}
@media (min-width: 1301px) {
  p.footerAsset {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: 40.2vw;
    left: 12vw;
    zoom: 1.2;
  }
}
@media (max-width: 1020px){
    div.Assets > p.footerAsset{
      margin-left: 0vw;
      margin-top: -4vw;
    }
}
@media (min-width: 1021px) and (max-width: 1080px) {
    div.Assets > p.footerAsset{
      margin-left: 0vw;
      margin-top: 1vw;
    }
}
div.illustration {
  position: relative;
  width: 67%;
  left: 14vw;
  height: 11vw;
  top: 7vw;
}
div.illustration > img {
  position: relative;
  height: 100%;
  width: 100%;
  border: solid  1px #2C4849;
}
.ThreeOhThreeContent div.Stack {
  position: relative;
  height: 18vw;
  width: 46vw;
  top: 45vw;
  margin: 0 auto;
}
@media (max-width: 1020px) {
    .ThreeOhThreeContent div.Stack{
      top: 280vw;
      margin-left: 30%;
    }
}
@media (min-width: 1021px) and (max-width: 1080px){
    .ThreeOhThreeContent div.Stack{
      top: 79vw;
      width: 54%;
      position: relative;
      margin-left: 25%;
    }
}
@media (min-width: 1301px) {
  .ThreeOhThreeContent div.Stack {
    position: relative;
    height: 18vw;
    width: 44vw;
    top: 41vw;
    margin: 0 auto;
    zoom: 1.2;
  }
}
@media (min-width: 1081px) and (max-width: 1300px) {
  .ThreeOhThreeContent div.Stack {
    position: relative;
    height: 18vw;
    width: 46vw;
    top: 45vw;
    margin: 0 auto;
  }
}
.ThreeOhThreeContent div.Stack > p {
  position: relative;
  color: #061A1E;
}
.ThreeOhThreeContent p.theStack {
  font-family: 'Khand', sans-serif;
  font-weight: 800;
  font-size: 2.3em;
  margin: 0 auto;
  top: 2.6vw;
}
.ThreeOhThreeContent p.aboutStack {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  top: 1.8vw;
}
.ThreeOhThreeContent div.FinalHome {
  display: flex;
  flex-direction: row;
  width: 94%;
  margin-left: 8vw;
  position: relative;
  top: 49vw;
  height: 170vw;
}
@media (min-width: 1301px) {
    .ThreeOhThreeContent div.FinalHome{
      top: 62vw;
      width: 76%;
      position: relative;
      margin-left: 13%;
      zoom: .86;
    }
}
@media (max-width: 1020px) {
    .ThreeOhThreeContent div.FinalHome{
      top: 300vw;
      width: 90%;
      position: relative;
      margin-left: 8%;
    }
}
@media (min-width: 1021px) and (max-width: 1080px){
    .ThreeOhThreeContent div.FinalHome{
      top: 87vw;
      width: 90%;
      position: relative;
      margin-left: 9%;
    }
}
.ThreeOhThreeContent div.FinalHome > p {
  color: #061A1E;
  position: absolute;
}
@media (max-width: 1300px) {
  .ThreeOhThreeContent p.finalText {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    top: -7vw;
    left: 4vw;
  }
}
@media (min-width: 1301px) {
  .ThreeOhThreeContent p.finalText {
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    top: -6vw;
    left: 3vw;
    zoom: 1.4;
  }
}
@media (max-width: 1020px) {
    .ThreeOhThreeContent div.FinalHome > p:nth-child(1){
      top: -12vw;
      position: relative;
    }
}
@media (max-width: 1300px) {
  .ThreeOhThreeContent p.finalDesktop {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    left: 4vw;
    top: -1vw;
  }
}
@media (min-width: 1301px) {
  .ThreeOhThreeContent p.finalDesktop {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    left: 3vw;
    top: -1.5vw;
    zoom: 1.4;
  }
}
@media (max-width: 1019px) {
    .ThreeOhThreeContent div.FinalHome > p:nth-child(2){
      top: -3vw;
    }
}
@media (max-width: 1300px) {
  .ThreeOhThreeContent p.finalMobile {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    left: 64.6vw;
    top: -6.1vw;
  }
}
@media (min-width: 1301px) {
  .ThreeOhThreeContent p.finalMobile {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    left: 46vw;
    top: -4.5vw;
    zoom: 1.4;
  }
}
@media (max-width: 1020px) {
    .ThreeOhThreeContent div.FinalHome > p:nth-child(3){
      top: -8vw;
    }
}
.ThreeOhThreeContent div.desktopFinal {
  position: absolute;
  top: 5.5vw;
  width: 59vw;
  left: 2vw;
  display: flex;
  flex-direction: column;
}
img.HomeTwo {
  top: -3.2vw;
}
img.HomeThree {
  top: -9vw;
}
img.HomeFour {
  top: -10.8vw;
}
img.HomeFive {
  top: -14.2vw;
}
img.HomeSix {
  top: -16vw;
}
img.HomeSeven {
  top: -16.1vw;
}
img.HomeEight {
  top: -16.7vw;
}
.ThreeOhThreeContent div.desktopFinal > img, div.mobileFinal > img {
  position: relative;
  width: 94%;
  margin: 0 auto;
}
.ThreeOhThreeContent div.mobileFinal {
  position: absolute;
  top: -2.3vw;
  width: 19vw;
  left: 64vw;
  display: flex;
  flex-direction: column;
}
img.MH2 {
  top: -6vw;
}
img.MH3 {
  top: -6.8vw;
}
img.MH4 {
  top: -7.76vw;
}
img.MH5 {
  top: -8.62vw;
}
img.MH6 {
  top: -8.6vw;
}
img.MH7 {
  top: -14vw;
}
@media (max-width: 1200px) {
  div.ThreeOhThreeContent div.connectSection {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 304vw;
    left: -12vw;
  }
}
@media (min-width: 1201px) and (max-width: 1300px) {
  div.ThreeOhThreeContent div.connectSection {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 54vw;
    left: -12vw;
  }
}
@media (min-width: 1301px) {
  div.ThreeOhThreeContent div.connectSection {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 50vw;
    left: -8vw;
    zoom: 1.2;
    padding-bottom: 10vw;
  }
}
div.ThreeOhThreeContent div.connectIcons {
  position: relative;
  margin: 0 auto;
  display: flex;
  top: 0vw;
  width: 100%;
  justify-content: center;
}
div.ThreeOhThreeContent div.connectIcons > div > a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
div.ThreeOhThreeContent div.toSite {
  height: 2.8em;
  width: 2.8em;
  background-color: #061A1E;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 50%;
}
div.ThreeOhThreeContent div.toSite:hover {
  /*animation: shine 1s alternate infinite;*/
  background-color: #F29121;
  transition: .3s;
}
img.web {
  height: 56%;
  width: 56%;
  position: relative;
  margin: 0 auto;
  top: 20%;
}
div.ThreeOhThreeContent div.toDribbble {
  height: 2.8em;
  width: 2.8em;
  background-color: #061A1E;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 50%;
}
div.ThreeOhThreeContent div.toDribbble:hover {
  background-color: #F29121;
  transition: .3s;
}
img.drib {
  height: 56%;
  width: 56%;
  position: relative;
  margin: 0 auto;
  top: 20%;
}
div.ThreeOhThreeContent div.toGithub {
  height: 2.8em;
  width: 2.8em;
  background-color: #061A1E;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 50%;
}
div.ThreeOhThreeContent div.toGithub:hover {
  background-color: #F29121;
  transition: .3s;
}
img.git {
  height: 56%;
  width: 56%;
  position: relative;
  margin: 0 auto;
  top: 20%;
}
@media (max-width: 1020px) {
  div.ThreeOhThreeContent div.iconDo {
    display: none;
  }
}
@media (min-width: 1021px) {
  div.ThreeOhThreeContent div.iconDo {
    color: #061A1E;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    align-content: center;
    display: inline;
  }
}
@media (min-width: 1201px) {
  div.ThreeOhThreeContent div.iconDo > p.visitSite {
    top: 1vw;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 200px;
    left: -7.78vw;
  }
}
@media (max-width: 1200px) {
  div.ThreeOhThreeContent div.iconDo > p.visitSite {
    top: 1vw;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 200px;
    left: -10.8vw;
  }
}
@media (min-width: 1201px) {
  div.ThreeOhThreeContent div.iconDo > p.viewSS {
    top: 1vw;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 200px;
    left: -7.6vw;
  }
}
@media (max-width: 1200px) {
  div.ThreeOhThreeContent div.iconDo > p.viewSS {
    top: 1vw;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 200px;
    left: -10.9vw;
  }
}
@media (min-width: 1201px) {
  div.ThreeOhThreeContent div.iconDo > p.viewDesigns {
    top: 1vw;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 200px;
    left: -7.6vw;
  }
}
@media (max-width: 1200px) {
  div.ThreeOhThreeContent div.iconDo > p.viewDesigns {
    top: 1vw;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 200px;
    left: -10.8vw;
  }
}
