@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
div.AnimatedStructure {
  position: fixed;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
div#StructurePreviewCopy {
  margin-left: 1em;
}
div#StructurePreviewMobileCopy {
  margin-left: 1em;
}
div.ThePreviews {
  position: relative;
  height: 100%;
  width: 100%;
}
div.StructureContent {
  position: relative;
  height: 100%;
  width: 100%;
  top: -100%;
  opacity: 0;
}

@media (max-width: 1300px) {
  div.StructureContent > div.projectTitle {
    position: absolute;
    width: 80vw;
    height: 16vh;
    top: -12vh;
  }
}
@media (min-width: 1301px) {
  div.StructureContent > div.projectTitle {
    position: absolute;
    width: 80vw;
    height: 16vh;
    top: -8vh;
    zoom: 1.2;
  }
}
@media (max-width: 1300px) {
  div.StructureContent > div.projectTitle > p.theTitle {
    font-family: 'Khand', sans-serif;
    font-weight: 600;
    color: #0B191F;
    font-size: 3.2em;
    text-align: left;
    margin-left: 9vw;
    margin-top: -4vh;
  }
}
@media (min-width: 1301px) {
  div.StructureContent > div.projectTitle > p.theTitle {
    font-family: 'Khand', sans-serif;
    font-weight: 600;
    color: #0B191F;
    font-size: 3.2em;
    text-align: left;
    margin-left: 9vw;
    margin-top: -3vh;
  }
}
@media (min-width: 1301px) {
  div.StructureContent > div.projectTitle > p.projectContributor {
    font-family: 'Oswald', sans-serif;
    color: #0B191F;
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    margin-top: 1em;
    margin-left: 9.2vw;
  }
}
@media (max-width: 1300px) {
  div.StructureContent > div.projectTitle > p.projectContributor {
    font-family: 'Oswald', sans-serif;
    color: #0B191F;
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    margin-top: 6vh;
    margin-left: 9.2vw;
  }
}
@media (min-width: 1301px) {
 div.StructureContent > div.About {
  position: relative;
  width: 30%;
  height: 30%;
  top: 10.4vw;
  left: 8.2vw;
  zoom: 1.2;
 }
}
@media (min-width: 1021px) and (max-width: 1300px) {
 div.StructureContent > div.About {
  position: relative;
  width: 32%;
  height: 30%;
  top: 10.5vw;
  left: 9vw;
 }
}
@media (max-width: 1020px) {
    div.About{
      top: 82vw;
      width: 90%;
      position: relative;
      margin: 0 auto;
      left: 0%;
      zoom: .8;
    }
}
div.StructureContent > div.About > h4 {
  font-family: 'Khand', sans-serif;
  font-weight: 800;
  margin-top: 2em;
  margin-bottom: 0;
  color: #0B191F;
  font-size: 2.3em;
}
div.StructureContent > div.About > p {
  margin-top: 1vh;
  font-family: 'Oswald', sans-serif;
  color: #0B191F;
  font-size: 1.3em;
}
@media (min-width: 1301px) {
  div.StructureContent div.Stack {
    position: relative;
    height: 18vw;
    width: 44vw;
    top: 20vw;
    margin: 0 auto;
    zoom: 1.2;
  }
}
@media (min-width: 1081px) and (max-width: 1300px) {
  div.StructureContent div.Stack {
    position: relative;
    height: 18vw;
    width: 46vw;
    top: 22vw;
    margin: 0 auto;
  }
}
@media (max-width: 1020px) {
    div.StructureContent div.Stack{
      top: 88vw;
      width: 80%;
      position: relative;
      margin: 0 auto;
      zoom: .8;
    }
}
@media (min-width: 1021px) and (max-width: 1080px){
    div.StructureContent div.Stack{
      top: 79vw;
      width: 54%;
      position: relative;
      margin-left: 25%;
    }
}
div.StructureContent div.Stack > p {
  position: relative;
  color: #0B191F;
}
div.StructureContent p.theStack {
  font-family: 'Khand', sans-serif;
  font-weight: 800;
  font-size: 2.3em;
  margin: 0 auto;
  top: 2.6vw;
}
div.StructureContent p.aboutStack {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  top: 1.8vw;
}
@media (max-width: 1020px) {
  div.Minnie {
    position: relative;
    height: 28vw;
    width: 60vw;
    margin: 0 auto;
    top: 80vw;
  }
}
@media (min-width: 1021px) and (max-width: 1300px) {
  div.Minnie {
    position: relative;
    height: 28vw;
    width: 60vw;
    margin: 0 auto;
    top: 24vw;
  }
}
@media (min-width: 1301px) {
  div.Minnie {
    position: relative;
    height: 28vw;
    width: 60vw;
    margin: 0 auto;
    top: 20vw;
  }
}
@media (max-width: 1020px) {
  div.Minnie > p {
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: 1.8vw;
    zoom: .8;
  }
}
@media (min-width: 1301px) {
  div.Minnie > p {
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: 1.2vw;
    zoom: 1.2;
  }
}
@media (min-width: 1021px) and (max-width: 1300px) {
  div.Minnie > p {
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    top: 1.8vw;
  }
}
@media (max-width: 1020px) {
  div.Minnie > div {
    height: 21vw;
    width: 20vw;
    top: 1.4vw;
    margin: 0 auto;
    position: relative;
    border: solid 4px white;
    zoom: 1.4;
  }
}
@media (min-width: 1021px) {
  div.Minnie > div {
    height: 21vw;
    width: 20vw;
    top: 2vw;
    margin: 0 auto;
    position: relative;
    border: solid 4px white;
  }
}
div.Minnie > div > img {
  position: relative;
  height: 100%;
  width: 100%;
}
/*div.StructureContent div.FinalHome {
  display: flex;
  flex-direction: row;
  width: 87%;
  margin-left: 7vw;
  position: relative;
  top: 19vw;
  height: 138vw;
  background-color: #0B191F;
}
@media (max-width: 1020px) {
    div.StructureContent div.FinalHome{
      top: 80vw;
      width: 90%;
      position: relative;
      margin-left: 6%;
    }
}
@media (min-width: 1021px) and (max-width: 1080px){
    div.StructureContent div.FinalHome{
      top: 87vw;
      width: 90%;
      position: relative;
      margin-left: 9%;
    }
}
div.StructureContent div.FinalHome > p {
  color: #E8ECED;
  position: absolute;
}
div.StructureContent p.finalText {
  font-family: 'Khand', sans-serif;
  font-weight: 800;
  font-size: 2.3em;
  top: 0vw;
  left: 4vw;
  color: #E8ECED;
}
@media (max-width: 1020px) {
    div.StructureContent div.FinalHome > p:nth-child(1){
      top: -4vw;
      zoom: .8;
      position: relative;
      left: 5vw;
    }
}
div.StructureContent p.finalDesktop {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  left: 4vw;
  top: 6vw;
}
@media (max-width: 1020px) {
    div.StructureContent div.FinalHome > p:nth-child(2){
      top: 5vw;
      zoom: .8;
      left: 5vw;
    }
}
div.StructureContent p.finalMobile {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  left: 64.6vw;
  top: 1.5vw;
}
@media (max-width: 1020px) {
    div.StructureContent div.FinalHome > p:nth-child(3){
      top: -1vw;
      zoom: .8;
      right: 1vw;
    }
}
div.StructureContent div.desktopFinal {
  position: absolute;
  top: 12vw;
  width: 59vw;
  left: 2vw;
  display: flex;
  flex-direction: column;
}
img.capabilities1 {
  top: 0vw;
}
img.capabilities2 {
  top: -.7vw;
}
img.capabilities3 {
  top: -1.1vw;
}
img.capabilities4 {
  top: -22.58vw;
}
div.StructureContent div.desktopFinal > img, div.mobileFinal > img {
  position: relative;
  width: 94%;
  margin: 0 auto;
}
div.StructureContent div.mobileFinal {
  position: absolute;
  top: 7vw;
  width: 19vw;
  left: 64vw;
  display: flex;
  flex-direction: column;
}
img.baziniMobile1 {
  top: 0vw;
}
img.baziniMobile2 {
  top: -11.3vw;
}
img.baziniMobile3 {
  top: -16.3vw;
}
img.baziniMobile4 {
  top: -34.4vw;
}*/
@media (min-width: 1301px) {
  div.StructureContent div.connectSection {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 23vw;
    height: 20vw;
    padding-bottom: 8vw;
    zoom: 1.2;
  }
}
@media (min-width: 1021px) and (max-width: 1300px){
  div.StructureContent div.connectSection {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 32vw;
    height: 20vw;
    padding-bottom: 10vw;
  }
}
@media (max-width: 1020px) {
  div.StructureContent div.connectSection {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 106vw;
    height: 20vw;
    padding-bottom: 20vw;
  }
}
div.StructureContent div.connectIcons {
  position: relative;
  margin: 0 auto;
  display: flex;
  top: 0vw;
  width: 100%;
  justify-content: center;
}
div.StructureContent div.connectIcons > div > a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
div.StructureContent div.toSite {
  height: 2.8em;
  width: 2.8em;
  background-color: #0B191F;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 50%;
}
div.StructureContent div.toSite:hover {
  /*animation: shine 1s alternate infinite;*/
  background-color: #495755;
  transition: .3s;
}
img.web {
  height: 56%;
  width: 56%;
  position: relative;
  margin: 0 auto;
  top: 20%;
}
div.StructureContent div.toDribbble {
  height: 2.8em;
  width: 2.8em;
  background-color: #0B191F;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 50%;
}
div.StructureContent div.toDribbble:hover {
  background-color: #495755;
  transition: .3s;
}
img.drib {
  height: 56%;
  width: 56%;
  position: relative;
  margin: 0 auto;
  top: 20%;
}
div.StructureContent div.toGithub {
  height: 2.8em;
  width: 2.8em;
  background-color: #0B191F;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 50%;
}
div.StructureContent div.toGithub:hover {
  background-color: #495755;
  transition: .3s;
}
img.git {
  height: 56%;
  width: 56%;
  position: relative;
  margin: 0 auto;
  top: 20%;
}
@media (min-width: 1021px) {
  div.StructureContent div.iconDo {
    color: #0B191F;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
  }
}
@media (max-width: 1020px) {
  div.StructureContent div.iconDo {
    display: none;
  }
}
div.StructureContent div.iconDo > p.visitSite {
  top: 1vw;
  position: relative;
  opacity: 0;
}
@media (min-width: 1301px) {
  div.StructureContent div.iconDo > p.viewSS {
    top: -1.4vw;
    position: relative;
    opacity: 0;
  }
}
@media (max-width: 1300px) {
  div.StructureContent div.iconDo > p.viewSS {
    top: -2.5vw;
    position: relative;
    opacity: 0;
  }
}
@media (min-width: 1301px) {
  div.StructureContent div.iconDo > p.viewDesigns {
    top: -3.8vw;
    position: relative;
    opacity: 0;
  }
}
@media (max-width: 1300px) {
  div.StructureContent div.iconDo > p.viewDesigns {
    top: -6vw;
    position: relative;
    opacity: 0;
  }
}

